<a href='/c/{{category.name}}/{{slug}}'>{{title}}</a>
<h2> Created at: {{createdAt}} </h2>
<h2> Posted at: <a href='/c/{{category.name}}'>{{category.name}}</a> </h2>
<a href='/u/{{author.username}}'> Created by: {{author.username}} </a>
<p>{{body}}</p>