<!-- {{! <a href='{{categoryName}}'> c/{{categoryName}} </a> 
<h1>{{post.title}}</h1>
<h2> Created at: {{post.createdAt}} </h2>
<p>{{post.body}}</p> }} -->

<h1>{{title}}</h1>
<h2> Created at: {{createdAt}} </h2>
<p>{{body}}</p>