<div class="post">
	<h1><a href='/c/{{category.name}}/{{slug}}'>{{title}}</a></h1>
	<h3> Created at: {{createdAt}} </h3>
	<a href='/c/{{category.name}}'>c/{{category.name}}</a>
	<a style="display:block" href='/u/{{author.username}}'> u/{{author.username}} </a>

	{{#if (isText this)}}
	<p>{{body}}</p>
	{{else}}
	<img src="{{body}}" height="200px">
	{{/if}}
</div>